html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: coral;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.left-sidebar {
  max-width: 10rem;
  flex: 1;
  background: green;
}

.content {
  flex: 1;
  background-color: bisque;
}

.container > div,
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.right-sidebar {
  max-width: 10rem;
  flex: 1;
  background: green;
}

.blog-history-mobile {
  display: none;
  height: 5rem;
  background-color: dodgerblue;
}

.alert-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #3338;
}

.alert-mobile > div {
  flex: 1;
  margin: 16px;
  background-color: white;
  height: 280px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 32px;
  display: flex;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .container > div {
    max-width: unset;
  }
  .left-sidebar,
  .right-sidebar {
    max-height: 50px;
  }
}

@media (max-width: 760px) {
  .pricing-grid {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }
  .pricing-grid > .plan {
    align-self: stretch;
  }
}

@media (max-width: 470px) {
  .alert-mobile {
    display: flex;
  }
}
/* <div class="header"></div>
<div class="container">
  <div class="left-sidebar"></div>
  <div class="content"></div>
  <div class="right-sidebar"></div>
</div> */
