html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  height: 48px;
  width: 100%;
  justify-content: flex-end;
  border-bottom: solid black 2px;
}

.container {
  display: flex;
  height: 100%;
}

.container > div {
  flex: 1;
}

.container > div:first-child {
  background-color: #faf;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.container > div:first-child > input {
  flex: 0;
}

.container > div:last-child {
  background-color: #afa;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.test-anim {
  animation: test 100 linear 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
